<!--<head>-->
<!--<title>Bikers</title>-->
<!--<meta charset=iso-8859-1"/>-->
<!--<link href="../../content/templates/css/style.css" rel="stylesheet" type="text/css"/>-->
<!--</head>-->
<body>
<div class="page">
    <h2 style="text-align: center">Witamy w osiedlowych klubie rowerowym "Rowerem przez świat"!</h2>
    <div style="height: 305px;">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin:auto;">
                <div class="carousel-caption">
                    <!--<h4>Slide {{slide.id}}</h4>-->
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="events"> <!-- start of featured -->
        <p>
            Nasz Klub jest organizacją pozarządową prowadzącą działalność na rzecz ogółu społeczności. Jest
            dobrowolnym,
            samorządnym i trwałym zrzeszeniem członków, mającym na celu rozwijanie i propagowanie inicjatyw, postaw
            i
            działań sprzyjających wszelkich formom czynnego wypoczynku - w szczególności turystyce rowerowej.
        </p>
        <p>
            Nasze stowarzyszeni zostało założone 18 grudnia 2007 roku i zarejestrowane w KRS w dniu 25 lutego 2008
            roku
            pod numerem 000000000. Klub posiada obecnie 39 członków oraz grupę ok. 50 sympatyków - mieszkańców Opola
            -
            którzy stale uczestniczą w naszych wycieczkach i imprezach.

            Klub organizuje wycieczki dla mieszkańców Opola pod hasłem „Poznajemy okolice Opola” oraz wycieczki pn.
            „Rowerem po zdrowie”.
        </p>
        <!--</div> &lt;!&ndash; end of featured &ndash;&gt;-->
        <!--<div class="section">-->
        <div class="events">
            <h3>Wydarzenia</h3>
            <p>Co tydzień w soboty i niedziele organizujemy wycieczki. Jesteśmy podzieleni na grupy - o 9 ( trasa około
                60-100 km ) i o 10 ( trasa około 40-80 km ). Zapraszamy na plac Mickiewicza. Jeżdzimy również w zimie,
                często w okresie grudzień - marzec o godzinie 10. Szczegółowe informacje o zimowych godzinach wycieczek
                w aktualnościach na stronie.</p>
            <p>
                Masz ochotę dołączyć? Zarejestruj się! Uzyskasz w ten sposób do zawartości tylko
                dla zarejestrowanych użytkowników.
                Będziesz miał pogląda kalendarza naszym wydarzeń oraz możliwość dołączenia!
                <br>
                <strong>Zapraszamy!</strong>
            </p>
        </div>
    </div> <!-- end of gallery and article section -->
    <!--<div>-->
    <!--<div ui-calendar="uiConfig.calendar" ng-model="vm.eventSources" calendar="myCalendar">-->
    <!--</div>-->
    <!--Tutaj powinny być dane-->
    <!--{{vm.eventSources}}-->
    <!--</div>-->
</div>
<div class="sidebar">  <!-- start of sidebar -->
    <ul>
        <li>
            <h3>Jak to się zaczęło?</h3>
            <p>A wszystko zaczęło się w roku 2004, kiedy Grzegorz Res postanowił zrealizować swoje marzenie o powołaniu
                do życia w Opolu klubu rowerowego "z prawdziwego zdarzenia".</p>
            <a ui-sref="about" style="margin-left: 200px">Czytaj więcej</a>
        </li>
        <li>
            <h3>Zainteresowani</h3>
            <p>Wszystkich zainteresowanym zapraszamy do odwiedzenia strony "O nas". Znajduje się tam wiele ciekawym
                informacji dotyczących naszego klubu.</p>
            <a ui-sref="about" style="margin-left: 200px">Czytaj więcej</a>
        </li>
    </ul>
</div>  <!-- end of sidebar -->
<section class="row">
    <div class="col-md-12">
        <div ng-switch="vm.isAuthenticated()">
            <div class="alert alert-warning" ng-switch-when="false">
                Jesteś już z nami? <a class="alert-link" href="" ng-click="vm.login()">Zaloguj się!</a>
            </div>

            <div class="alert alert-warning" ng-switch-when="false">
                Nie masz jeszcze konta? <a class="alert-link" ui-sref="register">Zarejestruj się tutaj!</a>
            </div>
        </div>
    </div>
</section>
</body>  <!-- end of body wrapper -->

